<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/cards.css">
    <title>Карточки с эффектом наведения</title>
</head>
<body>
<div class="card-grid">
    <div class="card">
        <img src="../img/cave.jpg" alt="Изображение 1">
        <div class="overlay">
            <h3>Пещера</h3>
            <p>Пещера является владением злодейки</p>
        </div>
    </div>
    <div class="card">
        <img src="../img/emblem_FMF.png" alt="Изображение 2">
        <div class="overlay">
            <h3>Герб ФМФ</h3>
            <p>Он является основой нашего факультета</p>
        </div>
    </div>
    <div class="card">
        <img src="../img/kingdom_FMF.jpg" alt="Изображение 3">
        <div class="overlay">
            <h3>Замок ФМФ</h3>
            <p>Владения нашего факультета</p>
        </div>
    </div>
    <div class="card">
        <img src="../img/lightning.jpg" alt="Изображение 4">
        <div class="overlay">
            <h3>Молния</h3>
            <p>Которая появляется при приходе злодейки</p>
        </div>
    </div>
</div>
</body>
</html>