<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/custom-ui.css">
    <title>Кастомные курсоры и скроллбары</title>
</head>
<body>
<div class="content">
    <h1>План сцен</h1>
    <ul>
        <li><strong>1 сцена:</strong> 1<br>Мода - без фона</li>
        <li><strong>2 сцена:</strong> 2<br>Худ слово - 2 (свет затемнить и пушки на мадину)<br>ЗТМ в конце сцены</li>
        <li><strong>Танец марионетки:</strong> без фона (красный свет)</li>
        <li><strong>Сцена 3.1:</strong> 3<br>Песня грустного студента - Грустный студент</li>
        <li><strong>Сцена 3.2 (после грустного студента):</strong> 4<br>Клип - без фона</li>
        <li><strong>Сцена 4:</strong> 5<br>ВХН (батл) - без фона (Зтм)</li>
        <li><strong>Сцена 5:</strong> 6<br>Танец (Насти и Сабрины) - колоски</li>
        <li><strong>После танца:</strong> 6<br>Монолог Вани - без фона<br>Песня ФМФ - Герб</li>
    </ul>
    <a href="#">Ссылка 1</a>
    <button>Кнопка 1</button>
    <a href="#">Ссылка 2</a>
    <button>Кнопка 2</button>
</div>
</body>
</html>